{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{%  include ['includes/_detail.html'] %}
 {% block scripts %}
{% endblock %}
{% block page_body %}
    <div class="container">
        {# Meta 信息 #}
        <span>作者:{{ article.user.name }}</span> <span>发表日期:{{ article.created | strftime }}</span>
        <a href="edit/{{article.id}}">编辑</a>
        <a id="delete" style="cursor:pointer"  article_id="{{ article.id }}">删除</a>
        <span>点击量({{ article.hit_numers}})</span>
        <span>评论({{ article.comment_numbers}})</span>
        {# 正文 #}
        <div>
            {{ article.body_html | safe }}
        </div>

        <h4>评论</h4>
        {# 发表评论 #}
        <div>
            {{ wtf.quick_form(form) }}
        </div>

        {# 评论列表 #}
        {% for comment in article.comments|sort(attribute='created') %}
            <div class="media">
                <div class="media-body">
                    <small class="text-muted">{{loop.index}}楼{{ comment.user.name }}@{{ comment.created | strftime }}</small>
                    <div>{{ comment.body }}    <a href="javascript:;" class="reply" comment_id="{{ comment.id }}">回复</a>
                    </div>
                    {% for reply in comment.comments %}
                    <small class="text-muted">{{ reply.user.name }}回复{{comment.user.name}}  {{ reply.created | strftime}}</small>
                    <div>{{ reply.body }}    <a href="javascript:;" class="reply" comment_id="{{ comment.id }}">回复</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}